{% extends 'habits/layouts/dashboard_layout.html' %}
{% block title %}Crear Hábito{% endblock %}

{% block dashboard_content %}
    <div class="form-container">
        <form method="post" class="form">
            {% csrf_token %}
            {% include 'habits/components/form_fields.html' %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Crear Hábito</button>
                <a href="{% url 'dashboard' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock %} 