{% extends 'habits/base.html' %}
{% block title %}Editar Perfil{% endblock %}
{% block content %}
<div class="container">
    <h2>Editar perfil</h2>
    <form method="post" class="form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn">Guardar cambios</button>
    </form>
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %} 